/* Default styles for larger screens */
.user-card {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 120px;
   
  }
 
  .user-info {
    width: 80%;
    display: flex;
  }
  
  .user-image {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
  
  .user-details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .user-name {
    font-size: 23px;
    font-weight: 700;
    color: #0F172A;
  }
  
  .user-address {
    color: #64748B;
    font-size: 14px;
    font-weight: 400;
  }
  
  .user-ratings {
    display: flex;
    align-items: center;
  }
  
  .star-rating {
    width: 19px;
    height: 18px;
  }
  
  .rating-count {
    color: #64748B;
    font-size: 17px;
    font-weight: 600;
  }
  
  .view-location-button {
    height: 53px;
    width: 170px;
    font-size: 18px;
    font-weight: 600;
    color: #0F172A;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid;
    border-color: #0F172A;
    align-items: center;
    justify-content: center;
    background: none;
  }
  
  .message-button {
    height: 58px;
    border-radius: 10px;
    font-size: 20px;
    width: 170px;
    font-weight: 600;
    background-color: black;
    color: white;
    /* background: black; */
    margin-top: 20px;
    background: #0F172A;

  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .user-card {
       margin-left: 20px;
      }
    .user-info {
      flex-direction: row;
      margin: 0 auto;
      align-items: center;
    }
  
    .user-image {
      margin-bottom: 10px;
    }
  
    .view-location-button {
        margin-bottom: 90px;
    }
    .message-button {
        /* margin-top: 90px; */
      width: 100%;
      max-width: 200px; /* Adjust max-width as needed */
    }
  
    .buttons-row {
      margin-top: 20px; /* Add some top margin for smaller screens */
    }
  
    .small-screen-image-container {
      display: flex;
      flex-direction: column;
    }
  
    .small-screen-image {
      width: 35px; /* Adjust the image width as needed */
      height: 35px; /* Adjust the image height as needed */
      margin-right: 1px; /* Add some spacing between images on small screens */
    margin-left: 20px;
    }
  }
  