.Main-Container{
    height: '100%';
    width: "100%";
    flex-direction: row;
    display: flex;
}
.Container{
    /* background-color: blue; */
    background-image: url('./Image/Rectangle61.png');
    height: '100%';
    align-items: flex-end;
    display: flex;
    width:'50%';
  
}
.detail{
 
    height: "100%";
    width:'50%';
    background-image: linear-gradient(195.42deg, #56BBFF -63.22%, rgba(85, 187, 255, 0.21) -63.2%, #061BEB 87.54%);;
    
}
.SignuPdetail{
   
    height: "100%";
    width:'100%';
    background-image: linear-gradient(195.42deg, #56BBFF -63.22%, rgba(85, 187, 255, 0.21) -63.2%, #061BEB 87.54%);;
    
}


